page-fixtures{
  .header-ios .toolbar-ios:last-child .toolbar-background-ios{
    border-width: 0px;
  }
  .item-android,
  .item-ios,
  .item-md{
    padding: 0px 12px;
    text-align: center;
    .item-inner{
      padding: 0px !important;
    }
    .header-wrapper{
      h6{
        display: inline-block;
        margin-bottom: 15px;
        color: color($colors, contrast_light);
      }
    }
    .content-wrapper{
      .content-wrapper-team {
        display: inline-block;
        overflow: hidden;
        width: 40%;
        h4 {
          line-height: 2rem;
          text-align: center;
        }
        img {
          width: auto;
          height: 25px;
          margin-bottom: 5px;
        }
      }
      .button-add-fix{
        width: 10%;
        margin: 0px 10px;
        display: inline-block;
        position: relative;
        top: -12px;
      }
    }
    .icon-md,
    .icon-ios,
    .icon-android{
      font-size: 3rem;
    }
    .item-button{
      height: 30px;
    }
  }
}
